
<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Sungju's Seggle</title>
  </head>
  <body>

    <!-- body-------------------------------- -->
    <h2 style="display: inline"><a href="{% url 'home:index' %}">Go To Home</a> {% block pagename %}{% endblock pagename %}</h2>
    <h4 style="display: inline">{% block userbar %}{% endblock userbar %}</h4><br><br>
    
    
    {% if not user.is_authenticated %}
    {% block not_authenticated %}
    {% endblock %}
    
    
    
    {% else %}
    {% block authenticated %}
    {% endblock %}
    {% endif %}

    <!-- body-------------------------------- -->
  </body>
</html>